body {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    background: rgb(84, 139, 141);
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
    font-size: 36px;
}

#outputDisplay {
    opacity: 0.8;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, .75);
    width: 498px;
    height: 100px;
    margin: 70px auto auto auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;

}

#outputDisplay, #historyOutput {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

#outputDisplay, #currentOutput {
    color: white;
    font-size: 2.5rem;
}

#calculatorContainer {
    opacity: 0.8;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 0px;
    border-top: none;
    font-size: 35px;
    text-align: center;
    width: 520px;
    height: 500px;
    margin: 0px auto auto auto;
    position: relative;
}

.gridButton {
    height: 100px;
    width: 120px;
    background:white;
    margin: auto;
    border: none;
    outline: none;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    position: relative;
}

.gridButton:hover {
    opacity: 0.5;
    cursor: pointer;
    height: 100px;
    width: 120px;
    background:white;
    margin: auto;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    border: 1px solid black;
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    position: relative;
}

#mainCharacters {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 130px);
    width: 390px;
    height: 500px;
}

#otherCharacters {
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    width: 130px;
    height: 500px;
    color: black;
}